.sidenav {
    height: 100%;
    width: 70px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidenav a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: flex;
    height: 50px;
}

.sidenav a:hover {
    background-color: #555;
}

.sidenav a:focus {
    background-color: #555;
}

/* Styling for the content area */
.content {
    padding: 20px;
}

#openNavBtn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 2;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.keep-aside {
    margin-left: 70px;
    transition: 0.3s;
}

/* css for right nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar container */
.navbar {
    background-color: #faf5f5;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    align-items: start;
    padding: 12px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ham-container {
    cursor: pointer;
}

.ham-line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    margin-top: -37px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* Add a hover effect to the links */
.nav-links a:hover {
    text-decoration: underline;
}

.right-nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
}

.right-ham {
    margin-left: 12px;
    margin-top: -37px;
    display: none;
}

.left-ham {
    transition: 0.3s;
}


.cat-contain {
    max-width: calc(90vw - 250px);
}

@media Only screen and (max-width: 900px) {
    .right-ham {
        display: block;
    }

    .right-nav-items {
        flex-direction: column-reverse;
    }

    .right-none {
        display: none;
    }

    .right-nav-links {
        flex-direction: column;
        line-height: 28.8px;
        transition: 0.3s;
        height: 0px;
        margin-top: 0px;
    }

    .sidenav {
        width: 0px;
    }

    .keep-aside {
        margin-left: 0px;
    }

    .cat-contain {
        max-width: 100vw;
    }
}

.left-nav-item {
    display: flex;
    align-items: end;
    margin-left: 6px;
}

.sidenav-hr {
    margin: 4px 0px;
    border-top: 1px solid #231e1e;
}

.cat-admin-card {
    width: fit-content;
    padding: 15px;
    margin: 8px;
}

.cat-admin-link {
    padding: 0px 4px;
}

.admin-cats-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 5px;
    background-color: beige;
    justify-content: center;
}

.admin-modal {
    display: none;
    height: calc(100vh - 84.6px);
    width: 100vw;
    background-color: #231e1e19;
    position: absolute;
}

.m-2 {
    margin: 5px;
}

.my-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.r-2 {
    border-radius: 2px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media Only screen and (max-width: 320px) {
    .d-flex {
        flex-wrap: wrap;
    }
}

.mt-2 {
    margin-top: 20px;
}

.ml-2 {
    margin-left: 20px;
}

.message {
    text-align: center;
    color: red;
    font-size: 16px
}

.pr-view {
    font-weight: 500;
}

.view-head {
    font-weight: 600;
    display: inline;
}

.d-inline {
    display: inline;
}

.ad-hr {
    margin: 8px 0px;
}

.f-5 {
    font-weight: 500;
}

.unread-qty {
    background-color: red;
    height: fit-content;
    padding: 0px 7px;
    border-radius: 50%;
    position: fixed;
    left: 35px;
}

@media Only screen and (max-width: 900px) {
    .unread-qty {
        display: none;
    }
}