.mainCategories {
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 3% 0%;
}

.d-flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.mainCat {
    width: 16vw;
    padding: 10px 0px;
    color: #fff;
    margin: 2px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 2px groove #ffffff85;
}

.mainCat {
    width: 85%;
    overflow: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


.mobile-cart {
    align-items: center;
    flex-direction: row;
    width: 28vw;
    padding: 8px 2px;
    transition: 0.3s ease;
    border-radius: 2px;
}

.mobile-cart:hover {
    transform: translate(0px, -0.2px);
    box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
}

.mobile-cart img {
    width: 7vw;
}

.descContain {
    height: fit-content;
}


.mainCatType {
    margin-top: 5%;
    font-size: 1vw;
    color: #000000;
}

.mtl-1 {
    margin: 2px 8px;
    font-size: 15px;
}

.mainCatCartDesc {
    color: #000000b0;
}

.mainCatPrice {
    margin-top: 2%;
    font-size: 14px;
    color: #000000;
}

.my-mainCategories {
    padding: 10px;
}

@media only screen and (max-width: 1400px) {
    .mobile-cart {
        width: 42vw;
    }

    .mobile-cart img {
        width: 13vw;
    }
}

@media only screen and (max-width: 825px) {
    .mobile-cart {
        width: 90vw;
    }

    .mobile-cart img {
        width: 19vw;
    }
}

@media only screen and (max-width: 600px) {
    .mainCat img {
        width: 30vw;
    }
}

.dim {
    color: #7b6a3a  !important;
}